
      <header class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0 shadow"> 
 <a class="navbar-brand bg-success  col-md-1 col-lg-2 me-0 px-3" href="#">Ahmet Ozkan</a> 

    
     
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-dark">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
        </ul>



        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-success" placeholder="Search..." aria-label="Search">
        </form>



        <div class="text-end">
          <button type="button" class="btn btn-outline-dark me-2">Login</button>
          <button type="button" class="btn btn-outline-success">Sign-up</button>
        </div>
      </div>
    </div>
 
  






{% comment %} 
  <div class="navbar-nav bg-dark ">
    <div class="nav-item  text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
    
  </div>  {% endcomment %}



  
<div class="container-fluid ">
  <div class="row">
    <nav style="bagroundcolor:" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow">
      <div class="position-sticky pt-1">
        <ul class="nav flex-column">
          <li class="nav-item hover-outline">
           
            <a class="nav-link text-dark" aria-current="page" href="#">

              <span data-feather="home"></span>
               Dashboard

          
            </a>
         
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-dark" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
    
        </ul>
      </div>
    </nav>
        </div>
            </div>

 </header>    