{% extends "base.html" %}


{% block body %}




    {% if lessons %}


    <div class="container ">
      <div class="row">
    {% for lesson in lessons %}
        
    
    <div class="col-6 col-md-4 ">

      <div class="card shadow" style="width: 18rem;">
       
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{lesson.lesson_name}}</h5>
          <p class="card-text">{{lesson.content}}</p>
          <a href="{% url 'lessons:detail' lesson.id %}" class="btn btn-outline-primary">Ders Icerigi</a>
          <a href="{% url 'user:login' %}" class="btn btn-primary position-relative">Yoklama Al
          
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </a>  
        </div>
      </div>

    </div>
    
   
    
    {% endfor %}
    
  </div>
</div>
    {% else %}
    <h1>Herhangi kayitli bir ders bulunmuyor</h1>
    {% endif %}
 

{% endblock body %}